.header {
  background-color: rgb(19, 19, 19);
  position: fixed;
  padding: 20px 40px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0 20px;
}

.nav-items {
  text-decoration: none;
  color: white;
  letter-spacing: 0.5px;
  cursor: pointer;
  position: relative;
}

.name {
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.nav-header {
  width: 100%;
}
